<!-- Employees table-->
<table class="table table-striped">
  <thead style="background: #fbc02d; ">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <!-- For each employee from employees list-->
    <tr *ngFor=" let item of employeeList">
      <td>{{item.first_name}}</td>
      <td>{{item.last_name}}</td>
      <td>{{item.position}}</td>
      <td>
        <!-- View button -->
        <button type="button" (click)="clickView(item.id)" class="btn btn-light mr-1">View</button>
      </td>
    </tr>
  </tbody>
</table>
