<header>
  <!-- Navigation bar-->

  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" ><b>Employees management</b></a>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="nav navbar-nav navbar-right">
          <!-- Employee list button-->
          <li *ngIf="manager===true"><a style="font-size:17px;" href="/list">Employees list</a></li>
        </ul>

      </div>
    </div>
  </nav>
</header>
